/*The following code was modified from:
    http://stackoverflow.com/questions/15458650/make-an-image-responsive-simplest-way
    https://www.w3.org/Style/Examples/007/center.en.html#block */

img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}